$borderRadius: 10px;
$headerColor: rgb(65, 65, 65);
$bgDark: #606060;
$bgLight: #fff;
$bgAccent: #e1e1e1;
$textLight: #fff;
$textDark: #000;
$navLinkColor: #fff;
$navLinkColorActive: #ff2323;
$completeColor: green;
$priority1: red;
$priority2: orange;
$priority3: green;
$priority4: gray;
$bgModal: rgba(2, 2, 2, 1);
$modalOpacity: 0.8;