$borderRadius: 10px;
$headerColor: #FF4F5A;
$bgDark: #606060;
$bgLight: #fff;
$bgAccent: #e1e1e1;
$textLight: #fff;
$textDark: #000;
$navLinkColor: #8d8d8d;
$navLinkColorActive: #ffffff;
$completeColor: green;
$priority1: red;
$priority2: orange;
$priority3: green;
$priority4: gray;
$bgModal: rgba(2, 2, 2, 1);
$modalOpacity: 0.8;