.block {
    position: relative;
}

.block:hover .block_active{
    //visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
}

.block_active {
    //visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 240px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: -110px;
    //margin-left: -100px;
    transition: opacity 0.3s;
}
