.block {
    position: relative;
}

.block:hover .block_active{
    visibility: visible;
    opacity: 1;
}

.block_active {
    visibility: hidden;
    opacity: 0;
    width: 240px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -100px;
    transition: opacity 0.3s;
}
