.searchBar {
    padding: 0px 10px;
    display: flex;
    border-radius: 5px;
    min-height: 50px;
    background-color: #e1e1e1;
    min-width: 70px;
    font-size: 20px;
    align-items: center;
    justify-content: start;

}


.searchBar_input {
    margin-left: 10px;
    height: 50px;
    max-width: calc(100% - 40px);
    background-color: transparent;
}
