.select {
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}


.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: transparent;
    pointer-events: none;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
