
.todo_title {
    display: block;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    position: relative;
    padding-bottom: 5px;
}

.todo_title:after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 80px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -webkit-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -o-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -ms-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: linear-gradient(to right, #FFFFFF33, #ffffff 100%);
}

.todo_description {
    padding-bottom: 5px;
    position: relative;
    display: block;
    font-size: 14px;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.todo_description:after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 80px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -webkit-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -o-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -ms-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: linear-gradient(to right, #FFFFFF33, #ffffff 100%);
}

.todo_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}