.todoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  border-color: gray;
}

.todoDescription {
  display: flex;
  flex-direction: column;
}
.completeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #8bff59;
  color: white;
}
.p0 {
  border-color: gray;
}
.p1 {
  border-color: red;
}

.p2 {
  border-color: orange;
}

.p3 {
  border-color: green;
}

.p4 {
  border-color: gray;
}

.timeBlock {
  font-size: 14px;
}
