@import "vars";

.todo_title {
    font-size: 25px;
    font-weight: bold;
}

.todo_description {
    font-size: 14px;
}

.todo_title, .todo_description {
    display: block;
    position: relative;
    padding-bottom: 5px;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.todo_title:after, .todo_description:after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 30px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -webkit-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -o-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: -ms-linear-gradient(left, #FFFFFF33, #ffffff 100%);
    background: linear-gradient(to right, #FFFFFF33, #ffffff 100%);
}

.todo_info {
    color: $textDark;
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}



@media screen and (max-width: 850px) {
    .buttonEdit {
        display: none;
    }

    .todo_title {
        font-size: 18px;
    }

    .todo_description {
        font-size: 12px;
    }
}